{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Electrostore</h1>
    <p class="lead">Electrostore - лучший магазин электроники</p>
</div>
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2 class="my-0 font-weight-normal">Каталог</h2>
            </div>
            {% for object in object_list %}
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">{{ object.name }}</h4>
                    <p>{{ object.description|slice:100}}</p>
                    <a href="product/{{ object.pk }}" class="btn btn-secondary" role="button">Купить</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}