{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2 class="my-0 font-weight-normal">Каталог</h2>
            </div>
            <div class="col-12 mb-1 mt-4">
                <a href="{% url 'catalog:create_product' %}"
                   class="btn btn-sm btn-outline-secondary">Добавить товар</a>
            </div>
            {% for object in object_list %}
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">{{ object.name }}</h4>
                    <p>{{ object.description|slice:100}}</p>
                    {% if versions|get_obj_by_pk:object.pk %}
                        <p>Версии: </p>
                        <p>
                            {% for version in versions|get_obj_by_pk:object.pk %}
                                {{ version.version_number }}
                                {% if version.version_name %}
                                    : {{ version.version_name }}
                                {% endif %}
                                {% if forloop.last == 0 %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{% url 'catalog:product' object.pk %}"
                            class="btn btn-sm btn-outline-secondary" type="button">View</a>
                        <a href="{% url 'catalog:update_product' object.pk %}"
                            class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                        <a href="{% url 'catalog:delete_product' object.pk %}"
                            class="btn btn-sm btn-outline-secondary" type="button">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}