{% extends "catalog/base.html" %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        {{ form_name }} товара
                    </div>
                </div>
                <div class="card-body">

                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">{{ button_name }}</button>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Версии
                </div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </form>
{% endblock %}